@import url("Findjob.css");
@import url("CVGuide.css");
@import url("Question.css");
@import url("Support.css");

/*Global CSS*/
html {
  overflow-y:scroll;
  overflow-x: hidden;
  scroll-behavior:smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2F303A;
  background-size: cover;
  background-position:center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  background-color: #2F303A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo img {
  width: 100px;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  padding: 14px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 70px;
  border-bottom: 3px solid transparent;
}

.navigation a:hover {
  border-bottom: 3px solid #fff;
}

.navigation a.active {
  border-bottom: 3px solid #fff;
}

.navigation .btnLogin-popup {
  margin-top: auto;
  width: 130px;
  height: 50px;
  background-image: linear-gradient(to right, #662D8C, #ED1E79);
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 20px;
  transition: .3s;
}

.navigation .btnLogin-popup:hover{
  background: transparent;  
  color:#fff; 
}

.wrapper {
  position: fixed;
  width: 1000px;
  height: 600px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
  z-index: 1;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-popup {
  display: none;
  position: absolute;
  bottom: 0;
  left: 15px;
  border: 3px solid #2b0446;
  z-index: 9;
}

.wrapper .container{
  border: solid;
  border-color: #fff;
  border-radius: 20px;
  position: relative;
  max-width: 850px;
  width: 100%;
  background: transparent;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
  transition: transform .30s ease;
  transform: translateX(0);
}

.wrapper.active .container{
    transition: none;
    transform: translateX(-1000px);

}

.container .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}

.container #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}

.container .cover .front,
.container .cover .back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.container .cover::before,
.container .cover::after{
  content: '';
  position: absolute;
  border-radius:20px ;
  height: 100%;
  width: 100%;
  background: #7d2ae8;
  opacity: 1;
  z-index: 12;
}

.container .cover::after{
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.container .cover .text{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}

.container .forms{
  border: solid;
  border-color: transparent;
  height: 100%;
  width: 100%;
  background: transparent;
}

.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}

.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}

.forms .signup-form  .title:before{
  width: 20px;
}

.forms .form-content .input-boxes{
  margin-top: 30px;
}

.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input{
  background-color: transparent;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #7d2ae8;
}

.form-content .input-box i{
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}

.forms .form-content .text{
  top: 57%;
  left: 4%;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.forms .form-content .text a{
  text-decoration: none;
}

.forms .form-content .text a:hover{
  text-decoration: underline;
}

.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}

.forms .form-content .submbutton input{
  color: #fff;
  background: #7d2ae8;
  margin-top: 40px;
  margin-left: 40px;
  width: 300px;
  height: 40px;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.forms .form-content .button input:hover{
  background: #5b13b9;
}

.forms .form-content label{
  color: #5b13b9;
  cursor: pointer;
}

.forms .form-content label:hover{
  text-decoration: underline;
}

.forms .form-content .sign-up-now{
  text-align: center;
  margin-top: 25px;
}

.forms .form-content .login-now{  
  text-align: center;
  margin-top: 25px;
}

.container #flip{
  display: none;
}

@media (max-width: 730px) {
  .container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .container #flip:checked ~ .forms .login-form{
    display: none;
  }
}

/* persinfo*/
.wrapper .form-box.persinfo{
  border: solid;
  border-color: #fff;
  border-radius: 20px;
  position: absolute;
  max-width: 850px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
  transform: translateX(1000px);
  transition: none;
}

.wrapper.active .form-box.persinfo{
  transition: transform .30s ease;
  transform: translateX(0);
}

.wrapper .form-box.persinfo .questtitle{
  position: absolute;
  top: 10%;
  right: 34%;
  font-size: 1em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .form-box.persinfo .form{
  margin-top: 100px;
}

.form-box.persinfo .form .quests {
  /*margin-top: 80px;*/
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 1px 0;
  position: relative;
}

.form-box.persinfo .form .quests .leftquests input{
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: transparent;
  height: 80%;
  width: 90%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.form-box.persinfo .form .quests .rightquests input{
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: transparent;
  height: 80%;
  width: 90%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.image1 img {  
  width: 604px;
  height: 564px;
  position: absolute;
  left: 4%;
  top: 20%;
  animation:float 4.5s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translateY(20px);
  }
}

#shadow {
  position: absolute;
  height: 20px;
  top: 92%;
  left: 25%;
  transform: translate(-50%, 50%);
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  filter: blur(3px);
  animation: shrink 4.5s ease-out infinite;
}

@keyframes shrink{
  0%{
    width : 45%
  }
  50% {
    width: 35%
  }
  100% {
    width: 45%
  }
}

.image2 img {
  position: absolute;
  width: 704px;
  height: 564px;
  left: 680px;
  top: 935px;
  animation: floattwo 4.5s ease-out infinite;
}

@keyframes floattwo {
  50% {
    transform: translateY(20px);
  }
}

#shadowtwo {
  position: absolute;
  height: 20px;
  top: 192%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  filter: blur(3px);
  animation: shrinktwo 4.5s ease-out infinite;
}

@keyframes shrinktwo {
  0% {
    width: 45%
  }

  50% {
    width: 35%
  }

  100% {
    width: 45%
  }
}

.para1 h1 {
  text-align: justify;
  font-size: 66px;
  color: #fff;
  margin-left: 750px;
  margin-top: 30px;
  line-height: 2.0;
}

.para1 p {
  text-align: justify;
  font-size: 30px;
  color: #fff;
  margin-left: 750px;
  margin-top: 26px;
  line-height: 1.5;
}

.para2 h1 {
  text-align: justify;
  color: #fff;
  position: absolute;
  width: 703px;
  height: 83px;
  left: 160px;
  top: 1008px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 108px;
}

.para2 p {
  text-align: justify;
  color: #fff;
  position: absolute;
  width: 864px;
  height: 472px;
  left: 60px;
  top: 1174px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 54px;
}

.persinfo {
  border: solid;
  border-color: #fff;
  border-radius: 20px;
  position: absolute;
  max-width: 850px;
  width: 100%;
  background: transparent;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}