html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body {
    background: #2F303A;
}
.logo{
    color:#9dc7c6;
    font-family: "DM Serif Display";
    font-size: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #6c0db5;
    padding: 0 20px;
}
.progress-bar:before{
    content:attr(data-text);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.2rem;
}
.progress-bar {
    text-align: center;
    position: relative;
    width: 80%;
    height: 50px;
    margin-left: 130px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
}
.nav-item{
    display: inline-block;
    height: 50%;
    padding: 20px 10px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #9dc7c6;
    transition: transform 0.2s ease-in-out;
}
.nav-item:hover, .logo:hover, .user-profile:hover{
    transform: translateY(-5px);
}
.user-profile{
    color: #9dc7c6;
    background-color: transparent;
    border: none;
    margin-right: 20px;
}
.fa-user{
    font-size: 30px;
}
.camel {
    position: relative;
    height: 200px;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
}
.circle:nth-of-type(1) {
    left: 10%;
    margin-left: -40px;
}
.circle:nth-of-type(2) {
    left: 30%;
    margin-left: -40px;
}
.circle:nth-of-type(3) {
    left: 50%;
    margin-left: -40px;
}
.circle:nth-of-type(4) {
    left: 75%;
    margin-left: -40px;
} 
.circle:nth-of-type(5) {
    right: 10%  ;
    margin-right: -40px;
}  
.subject-section{
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
} 
.subject-box {
    width: 450px;
    height: 300px;
    background-color: #8cdec2;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}