.logo{
    color:#9dc7c6;
    font-family: "DM Serif Display";
    font-size: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #6c0db5;
    padding: 0 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
}
.nav-item{
    display: inline-block;
    height: 50%;
    padding: 20px 10px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #9dc7c6;
    transition: transform 0.2s ease-in-out;
}
.nav-item:hover, .logo:hover, .user-profile:hover{
    transform: translateY(-5px);
}
.user-profile{
    color: #9dc7c6;
    margin-right: 20px;
}
.fa-user{
    font-size: 30px;
}