html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2F303A;
    background-size: cover;
    background-position: center;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background-color: #2F303A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo img {
    width: 80%;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    padding: 14px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 70px;
    border-bottom: 3px solid transparent;
}

    .navigation a:hover {
        border-bottom: 3px solid #fff;
    }

    .navigation a.active {
        border-bottom: 3px solid #fff;
    }

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background-image: linear-gradient(to right, #662D8C, #ED1E79);
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 70px;
    transition: .3s;
}

    .navigation .btnLogin-popup:hover {
        background: transparent;
        color: #fff;
    }

.wrapper {
    position: absolute;
    width: 500px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 1;
}

    .wrapper.active-popup {
        transform: scale(1);
    }

    .wrapper .icon-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background: #162938;
        font-size: 2em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.image1 img {
    width: 604px;
    height: 564px;
    position: absolute;
    left: 4%;
    top: 20%;
    animation: float 4.5s ease-out infinite;
}

@keyframes float {

    50% {
        transform: translateY(20px);
    }
}

#shadow {
    position: absolute;
    height: 20px;
    top: 92%;
    left: 25%;
    transform: translate(-50%, 50%);
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    filter: blur(3px);
    animation: shrink 4.5s ease-out infinite;
}

@keyframes shrink {
    0% {
        width: 45%
    }

    50% {
        width: 35%
    }

    100% {
        width: 45%
    }
}

.image2 img {
    position: absolute;
    width: 704px;
    height: 564px;
    left: 680px;
    top: 935px;
    animation: floattwo 4.5s ease-out infinite;
}

@keyframes floattwo {

    50% {
        transform: translateY(20px);
    }
}

#shadowtwo {
    position: absolute;
    height: 20px;
    top: 92%;
    left: 25%;
    transform: translate(-50%, 50%);
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    filter: blur(3px);
    animation: shrinktwo 4.5s ease-out infinite;
}

@keyframes shrinktwo {
    0% {
        width: 45%
    }

    50% {
        width: 35%
    }

    100% {
        width: 45%
    }
}

.para1 h1 {
    text-align: justify;
    font-size: 66px;
    color: #fff;
    margin-left: 750px;
    margin-top: 30px;
    line-height: 2.0;
}

.para1 p {
    text-align: justify;
    font-size: 30px;
    color: #fff;
    margin-left: 750px;
    margin-top: 26px;
    line-height: 1.5;
}

.para2 h1 {
    text-align: justify;
    color: #fff;
    position: absolute;
    width: 703px;
    height: 83px;
    left: 160px;
    top: 1008px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 108px;
}

.para2 p {
    text-align: justify;
    color: #fff;
    position: absolute;
    width: 864px;
    height: 472px;
    left: 60px;
    top: 1174px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 54px;
}


/*css for cv guide*/
.title h1 {
    position: absolute;
    text-align: left;
    font-size: 40px;
    color: #fff;
    margin-left: 110px;
    margin-top: 30px;
    line-height: 2.0;
    width: 900px;
    top: 100px;
}

.small h3 {
    position: absolute;
    text-align: left;
    font-size: 30px;
    color: #fff;
    margin-left: 110px;
    margin-top: 30px;
    line-height: 2.0;
    width: 900px;
    top: 200px;
}

.small p {
    position: absolute;
    text-align: left;
    font-size: 20px;
    color: #fff;
    margin-left: 110px;
    margin-top: 30px;
    line-height: 2.0;
    width: 1008px;
    top: 260px;
}

.small1 h3 {
    position: absolute;
    text-align: left;
    font-size: 30px;
    color: #fff;
    margin-left: 110px;
    margin-top: 30px;
    line-height: 2.0;
    width: 900px;
    top: 380px;
}

.small1 p {
    position: absolute;
    text-align: left;
    font-size: 20px;
    color: #fff;
    margin-left: 110px;
    margin-top: 30px;
    line-height: 2.0;
    width: 1008px;
    top: 430px;
}

.small1 ul {
    position: absolute;
    text-align: left;
    font-size: 20px;
    color: #fff;
    margin-left: 150px;
    margin-top: 30px;
    line-height: 2.0;
    width: 1008px;
    top: 460px;
}

.small2 h3 {
    position: absolute;
    text-align: left;
    font-size: 30px;
    color: #fff;
    margin-left: 110px;
    margin-top: 30px;
    line-height: 2.0;
    width: 900px;
    top: 570px;
}

.small2 p {
    position: absolute;
    text-align: left;
    font-size: 20px;
    color: #fff;
    margin-left: 110px;
    margin-top: 30px;
    line-height: 2.0;
    width: 1008px;
    top: 630px;
}
.small3 h3 {
    position: absolute;
    text-align: left;
    font-size: 30px;
    color: #fff;
    margin-left: 110px;
    margin-top: 30px;
    line-height: 2.0;
    width: 900px;
    top: 900px;
}
.small3 p {
    position: absolute;
    text-align: left;
    font-size: 20px;
    color: #fff;
    margin-left: 110px;
    margin-top: 30px;
    line-height: 2.0;
    width: 1008px;
    top: 960px;
}
.small3 ol {
    position: absolute;
    text-align: left;
    font-size: 20px;
    color: #fff;
    margin-left: 150px;
    margin-top: 30px;
    line-height: 2.0;
    width: 1008px;
    top: 1080px;
}
.small4 p {
    position: absolute;
    text-align: left;
    font-size: 20px;
    color: #fff;
    margin-left: 110px;
    margin-top: 30px;
    line-height: 2.0;
    width: 1008px;
    top: 1860px;
}
a{
    color: hotpink;
}

/*end of css for cv guide*/
